#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}

[Unit]
Description=Prometheus Node Exporter
After=network.target

[Service]
Type=simple
User={{ otus_node_exporter_system_user }}
Group={{ otus_node_exporter_system_group }}
ExecStart={{ otus_node_exporter_bin_dir }}/node_exporter \
{% for collector in otus_node_exporter_enabled_collectors -%}
  {% if not collector is mapping %}
  --collector.{{ collector }} \
  {% else -%}
    {% set name, options = (collector.items()|list)[0] -%}
    {% for k,v in options|dictsort %}
  --collector.{{ name }}.{{ k }}={{ v }} \
    {% endfor -%}
  {% endif -%}
{% endfor -%}
{% for collector in otus_node_exporter_disabled_collectors %}
  --no-collector.{{ collector }} \
{% endfor %}
  --web.listen-address={{ otus_node_exporter_web_listen_address }}

SyslogIdentifier=prometheus_otus_node_exporter
Restart=always

PrivateTmp=yes
ProtectHome=yes
NoNewPrivileges=yes

{% if otus_node_exporter_systemd_version.stdout | int >= 232 %}
ProtectSystem=strict
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=yes
{% else %}
ProtectSystem=full
{% endif %}

[Install]
WantedBy=multi-user.target
